-@font-face {
    font-family: "noto sans", helvetica neue, arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    src: url(../fonts/NotoSans-Regular.ttf);
}
-@font-face {
    font-family: "noto sans", helvetica neue, arial, sans-serif;
    font-weight: normal;
    font-style: italic;
    src: url(../fonts/NotoSans-Italic.ttf);
}
-@font-face {
    font-family: "noto sans", helvetica neue, arial, sans-serif;
    font-weight: bold;
    font-style: normal;
    src: url(../fonts/NotoSans-SemiBold.tff);
}
-@font-face {
    font-family: "noto sans", helvetica neue, arial, sans-serif;
    font-weight: bold;
    font-style: italic;
    src: url(../fonts/NotoSans-SemiBoldItalic.tff);
}
-@font-face {
    font-family: "noto sans", helvetica neue, arial, sans-serif;
    font-weight: 500;
    font-style: normal;
    src: url(../fonts/NotoSans-Medium.ttf);
}
@font-face {
    font-family: "IBM Plex Sans", helvetica neue, arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    src: url(../fonts/media/IBMPlexSans-Regular.ttf);
}
@font-face {
    font-family: "IBM Plex Sans", helvetica neue, arial, sans-serif;
    font-weight: normal;
    font-style: italic;
    src: url(../fonts/media/IBMPlexSans-Italic.ttf);
}


@page {
  size: 170mm 244mm;
  margin-top: 20mm;
  margin-bottom: 15mm;
}

@page :first {
  size: 170mm 244mm;
  background: white;
  margin: 0;
  @bottom-left { content: normal; }
	@bottom-right { content: normal; }
	@top-center { content: normal; }
}


@page :left {
  @top-left {
    content: env(doc-title);
    margin-top: 15px;
    font-family: "IBM Plex Sans", helvetica neue, arial, sans-serif;
    font-weight: normal;
    font-style: italic;
    font-size: 9pt;
    letter-spacing: 0.2pt;
    word-spacing: 1px;
  }
  @bottom-left {
    content: counter(page);
    font-family: "IBM Plex Sans", helvetica neue, arial, sans-serif;
    font-weight: normal;
    font-style: italic;
    font-size: 9pt;
    letter-spacing: 0.2pt;
    word-spacing: 1px;
  }
}
@page :right {
  @top-right {
     content: env(pub-title);
     margin-top: 15px;
     font-family: "IBM Plex Sans", helvetica neue, arial, sans-serif;
     font-weight: normal;
     font-style: italic;
     font-size: 9pt;
     letter-spacing: 0.2pt;
     word-spacing: 1px;
  }
  @bottom-center {
    content: " ";
  }
  @bottom-right {
    content: counter(page);
    font-family: "IBM Plex Sans", helvetica neue, arial, sans-serif;
    font-weight: normal;
    font-style: italic;
    font-size: 9pt;
    letter-spacing: 0.2pt;
    word-spacing: 1px;
  }
}
@page :first {
	@bottom-left { content: normal; }
	@bottom-right { content: normal; }
	@top-center { content: normal; }
}
@page :blank{
	@bottom-left { content: normal; }
	@bottom-right { content: normal; }
	@top-center { content: normal; }
}

.coverpage {
  position: absolute;
  position: absolute;
  width: 100%;
  height: 100%;
background-image: url("../images/cover.png");
  background-repeat: no-repeat;
  background-size: cover;
  top: -20mm;
  left: -20mm;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.backpage {
  position: absolute;
  width: 130%;
  height: 120%;
  background-repeat: no-repeat;
  background-size: cover;
  top: -20mm;
  left: -20mm;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  counter-reset: chapter figure-cat-figure figure-cat-photo figure-cat-table footnote-counter footnote-marker-counter;
  overflow-wrap: break-word;
}

html {
  font-family: "noto sans", helvetica neue, arial, sans-serif;
  font-weight: 300;
  font-size: 10.75pt;
  color: black;
  text-rendering: optimizeLegibility;
  /*-webkit-font-smoothing: antialiased;*/
  overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}
nav {
  break-before: always;
}
nav li a {
  display: inline-flex;
  width: 100%;
  text-decoration: none;
  color: currentColor;
  align-items: baseline;
  border: none;
  font-size: 9pt;
}
nav li a::before {
  margin-left: 0.5em;
  margin-right: 0.5em;
  border-bottom: 1px dotted;
  content: "";
  order: 1;
 flex: auto;
}
nav li a::after {
 text-align: right;
 content: target-counter(attr(href), page);
 align-self: flex-end;
 flex: none;
 order: 2;
}

.article-title {
  font-family: "IBM Plex Sans", helvetica neue, arial, sans-serif;
  font-size: 24pt;
  color: #000;
  margin-bottom: 2em;
  margin-top: 2em;
  page-break-inside: avoid;
  text-align: center;
  text-transform: none;
  adobe-hyphenate: none;
  -webkit-hyphens: none;
  -epub-hyphens: none;
  hyphens: none;
  letter-spacing: 0pt;
  word-spacing: 1px;
  font-weight: 600;
  text-transform: uppercase;
}
.article-title:before {
  display: block;
  text-transform: none;
  counter-increment: chapter;
  font-size: 10pt;
  margin-bottom: 13pt;
  letter-spacing: 1pt;
}

.image-width-100 {
    width: 99%;
    box-sizing:border-box;
}

.image-width-90 {
    width: 89%;
    box-sizing:border-box;
}

.image-width-75 {
    width: 74%;
    box-sizing:border-box;
}

.image-width-50 {
    width: 49%;
    margin-left:5%;
    margin-right:5%;
    box-sizing:border-box;
}

.image-width-25 {
    width: 24%;
    margin-left:2%;
    margin-right:2%;
    box-sizing:border-box;
}

.noindent p + p {
  text-indent: 0;
}
.noindent .indent p + p {
  text-indent: 1.5em;
}

.txtspace p  {
  letter-spacing: 0.3pt !important;
  word-spacing: 0.3pt !important;
  line-height: 16pt;
}


p {
  font-family: "noto sans", helvetica neue, arial, sans-serif;
  font-size: 9.75pt;
  font-weight: 500;
  line-height: 15pt;
  text-align: justify;
  margin-bottom: 0pt;
  letter-spacing: 0.2pt;
  word-spacing: 0.2pt;
  orphans: 2;
  widows: 2;
  overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    hyphenate-limit-chars: 10 4 4;
}

p + p {
  text-indent: 0;
  margin-top: 9pt; }

div.table-cell-container p + p {
  margin-top: 0pt;}

li p {
   display: inline;
}


.Kolophon p + p {
  margin-top:0;
}

p.author , .author {
  color: black;
  font-size: 14pt;
  font-weight: normal;
  text-align: center;
  text-transform: none;
  line-height: 20pt;
  margin-bottom: 30pt;
}

p.copyright {
  font-size: 9.75pt;
  text-align: left;
}

p strong,
p .bold,
p .Bold,
p b,
li strong,
li .bold,
li .Bold,
li b {
  font-weight: 700;
}

table li strong,
table li .bold,
table li .Bold,
table li b {
  font-family: "IBM Plex Sans", helvetica neue, arial, sans-serif;
  font-weight: 700;
}

em,
.italic {
  font-family: inherit;
  font-style: italic;
  font-weight: 400;
}

pre {
  max-width: 80.1266666667mm;
}

a {
  color: #000;
  text-decoration: none;
  border-bottom: 1px dashed rgb(101,100,98);
}

a:hover {
  border-bottom: 1px solid rgb(101,100,98);
}

strong em {
  font-weight: bold;
  font-style: italic;
}

var {
  font-family: "IBM Plex Sans", helvetica neue, arial, sans-serif;
  font-weight: normal;
}

var em,
var .Italic {
  font-weight: normal;
  font-style: normal;
}

sup {
  font-size: 9.75pt;
  font-weight: inherit;
  position: relative;
  top: -3px;
  vertical-align: baseline;
}

.references p {
  line-height: 10.8pt;
  font-size: 9pt;
}

blockquote {
  display: block;
  width: 80%;
  position: relative;
  font-family: "IBM Plex Sans", helvetica neue, arial, sans-serif;
  font-size: 11pt;
  vertical-align: baseline;
  margin-top: 9pt;
  margin-bottom: 9pt;
  margin-left: 3pc;
  margin-right: 1pc;
  font-style: italic;
}

blockquote:before {
  font-family: "noto serif", serif;
  content: "“";
  font-size: 4em;
  left: -45px;
  top: -10px;
  z-index: 5;
  position: absolute;
  color: rgb(58,172,196);
  opacity: 0.8;
}

blockquote p {
  font-family: inherit;
  text-align: left;
  font-style: normal;
}

blockquote strong {
  font-weight: 600;
}

blockquote  p.att { text-align: right; }

h2, h2 strong {
font-family: "IBM Plex Sans", helvetica neue, arial, sans-serif;
margin-top: 1.5em;
color: #000;
font-weight: normal;
}
h3, h3 strong,
h4, h4 strong,
h5,
h6 {
  font-family: "IBM Plex Sans", helvetica neue, arial, sans-serif;
  margin-top: 1.5em;
  color: #000;
  font-weight: 500;
}

h1 {
  font-family: "IBM Plex Sans", helvetica neue, arial, sans-serif;
  font-size: 24pt;
  color: #000;
  margin-bottom: 2em;
  margin-top: 2em;
  page-break-inside: avoid;
  page-break-after: avoid;
  text-align: center;
  text-transform: none;
  adobe-hyphenate: none;
  -webkit-hyphens: none;
  -epub-hyphens: none;
  hyphens: none;
  letter-spacing: 0pt;
  word-spacing: 1px;
  font-weight: 600;
}

h1 strong { font-weight: normal;}

h2 {
  font-size: 15pt;
  line-height: 21pt;
  font-family: "IBM Plex Sans", helvetica neue, arial, sans-serif;
  text-transform: none;
  font-weight: 500;
  margin-top: 20pt;
  margin-bottom: 9pt;
  page-break-inside: avoid;
  page-break-after: avoid;
}

h3 {
  font-size: 13pt;
  margin-top: 20pt;
  page-break-inside: avoid;
  page-break-after: avoid;
  font-weight: 500;
  margin-bottom: 9pt;
}

h4 {
  font-size: 10.5pt;
  margin-top: 20pt;
  margin-bottom: 9pt;
  font-weight: 500;
  page-break-inside: avoid;
  page-break-after: avoid;
}

h5 {
  font-family: "IBM Plex Sans", helvetica neue, arial, sans-serif;
  font-weight: 500;
  font-size: 9pt;
  margin-top: 20pt;
  margin-bottom: 5pt;
  page-break-inside: avoid;
  page-break-after: avoid;
}
hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
    }

hr.br { border:0; height: 0px; }

.one ol li {
  list-style-type: decimal;
}

h1:before {
  display: block;
  text-transform: none;
  counter-increment: chapter;
  font-size: 10pt;
  margin-bottom: 13pt;
  letter-spacing: 1pt;
}

.footnotes ol {
  font-size: 9pt;
  line-height: 10.8pt;
  list-style-position: outside;
}

.footnotes ol li p {
  text-indent: 0;
  font-size: 9pt;
  line-height: 10.75pt;
  word-wrap: break-word;
}

.footnotes ol li p a {
  text-wrap: word-break;
}

li[id*="fn"] {
  color: black;
  text-indent: 0;
  font-size: 9.75pt;
  margin-left: 1.3pc;
}

a.footnoteRef {
  border-bottom: 0;
  line-height: 0;
  background: none;
  display: inline;
}

figure {
  text-indent: 0;
  width: 100%;
  text-align: center;
  margin-top: 27pt;
  margin-bottom: 27pt;
}

figure img {
  display: block;
  height: auto;
  margin: auto;
}


figure figcaption {
  font-family: "noto sans", helvetica neue, arial, sans-serif;
  margin-top: 0;
  font-style: normal;
  color: black;
  text-indent: 0;
  text-align: center;
  font-size: 8pt;
  font-style: italic;
}

/*From Fidus writer*/
.figure-cat-figure::after {
    counter-increment: figure-cat-figure;
    content: ' ' counter(figure-cat-figure);
}

.figure-cat-photo::after {
    counter-increment: figure-cat-photo;
    content: ' ' counter(figure-cat-photo);
}

.figure-cat-table::after {
    counter-increment: figure-cat-table;
    content: ' ' counter(figure-cat-table);
}

.figure-cat-figure + span::before, .figure-cat-photo + span::before, .figure-cat-table + span::before {
    content: ': ';
}

.icon {
  margin-right: 1em;
  width: 20%;
  float: left;
}

.icon img {
  width: 100%;
  margin-top: 1em;
}

.iconright {
  margin-left: 1em;
  width: 20%;
  float: right;
}

.iconright img {
  width: 100%;
  margin-top: 1em;
}

ul {
  display: block;
  list-style-type: disc;
  margin-top: 9pt;
  margin-bottom: 9pt;
  margin-left: 0;
  margin-right: 0;
  padding-left: 20px;
  hyphens: none;
}

#page-navigation ol {
    margin: 0;
    padding: 0;
    list-style-type: decimal;
    float: left;
}

 .article-body ol {
  display: block;
  list-style-type: decimal;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 20px;
  hyphens: none;
}
ol li {
  margin-bottom: 0.5em;
}

table {
  margin: 0 auto;
  width: 99% !important;
  font-family: "noto sans", helvetica neue, arial, sans-serif;
  background-size: 8pt;
  page-break-inside: avoid;
  margin-top: 9pt;
  margin-bottom: 18pt;
  border-collapse: collapse;
  /*border-bottom: 1pt solid #000;*/
  border-left: 0;
  border-right: 0;
  text-align: left;
  font-size: 8pt;
}


table.tbnostyle tr:first-of-type td {
  font-style: normal!important;
  background-color: transparent !important;
  border-bottom: 1px solid rgb(231,231,231)!important;
}

table caption {
  padding: 1em;
  text-align: left;
  margin: 0 auto;
  vertical-align: middle;
}

table caption:before {
  counter-increment: table;
  content: "Table " counter(table);
  margin-right: 1em;
  font-style: italic;
}


table td {
  width: auto;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid rgb(231,231,231);
  padding: 0.5em;
}

table td a {
 word-wrap: break-word;
 overflow-wrap: break-word;
}

table td:last-of-type {
  padding-right: 1em;
}

table p,
table ul,
table li,
table ol {
  font-size: 8pt;
  margin: 0;
  font-family: "noto sans", helvetica neue, arial, sans-serif;
  text-align: left;
  text-indent: 0;
}

table ol,
table ul {
  /*list-style-position: outside;*/
}

table li {
  vertical-align:top;
}

tr:first-of-type th {
  padding-top: 1em;
  padding-bottom: 1em;

}

tr:first-of-type td {
  font-style: italic;
  background-color: rgb(241,248,250);
  border-bottom: 2px solid rgb(15,100,167);

}

tr:last-of-type td {
  padding-bottom: 0.6em;
}

table + p {
  text-indent: 0;
}

th {
  border-left: 0;
  border-right: 0;
  padding: 1em;
  color: : black;
  font-style: italic;
}

tr:first-of-type {
    font-weight: normal;
}

tr.head + tr td {
  padding-top: 0.8em;
}

table + p {
  margin: 0 auto;
  width: 95% !important;
  margin-top: 0;
}

table + p + p {
  margin-top: 18pt;
}

div.article-body > h2:first-child, div.Kolophon > h2:first-child {
  margin-top: 0pt;
}

h2 + h2, h2 + h3, h3 + h4, h4 + h5 {
  margin-top: -5pt;
}

h2 + p {
  margin-top: -5pt;
}

h3 + p, h4 + p, h5 + p {
 margin-top: -3pt;
}

h2 + p /* h3+p*/ {
    page-break-after: avoid;
}

.txtnospace p, p.txtnospace {
  letter-spacing: 0.1pt !important;
  word-spacing: 0.2pt !important;
}


/* running headers locations */

ol.upper-latin {
  list-style-type: upper-latin;
}